AURA_OLLAMA_URL=http://127.0.0.1:11434
AURA_OLLAMA_MODEL=qwen3:4b
AURA_OLLAMA_KEEP_ALIVE=15m
AURA_OLLAMA_NUM_CTX=4096
AURA_OLLAMA_NUM_PREDICT=256
AURA_DB_PATH=
AURA_DEBUG=0
AURA_MIN_CONFIDENCE=0.70
AURA_VOSK_MODEL_PATH=
